/* EditActivityAdmin.module.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

/* Main Container */
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans', sans-serif;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  transition: margin-left 0.3s ease;
}

.contentShift {
  margin-left: 240px;
}

.mobileContent {
  margin-left: 0;
}

.heading {
  margin: 0;
  color: #5E5E5E;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}
